.selectorContainer {
  display: flex;
  justify-content: space-between; /* Aligns dropdowns to corners */
  gap: 10px; /* Add space between the dropdowns */
  flex-wrap: wrap; /* Allows wrapping when the container is too narrow */
  width: 100%; /* Make the container take full width */
}

.selectorContainer label {
  display: inline-flex; /* Prevent the label from taking full width */
  flex-direction: column; /* Stack label text and select vertically */
  font-size: 14px;
  color: #f1f1f1;
  align-items: flex-start; /* Align label to the left */
  width: auto; /* Make the label only as wide as its contents */
}


@media (max-width: 500px) {
  .selectorContainer {
    flex-direction: column; /* Stack the dropdowns vertically on smaller screens */
  }

  .selectorContainer select {
    width: 100%; /* Make the dropdowns take full width on mobile */
    max-width: 100%; /* Remove the max-width constraint on smaller screens */
  }
}